/*================================================================*/
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
/*================================================================*/
/* Main styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.controls-wrapper {
  margin-bottom: 32px;
}

input {
  outline: none;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}

#datetime-picker {
  width: 272px;
  transition: border-color 250ms ease-in-out, color 250ms ease-in-out;
}

#datetime-picker:hover {
  border-color: black;
}

#datetime-picker:focus {
  border-color: #4e75ff;
}

#datetime-picker:disabled {
  border-color: #808080;
  color: #808080;
}

.timer-btn {
  color: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  outline: none;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.timer-btn:hover,
.timer-btn:focus {
  background-color: #6c8cff;
}

.timer-btn:disabled {
  color: #989898;
  background-color: #cfcfcf;
}

.timer {
  display: flex;
  column-gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.value {
  font-size: 40px;
  line-height: 1.2;
}

.label {
  text-transform: uppercase;
}
